.model-value {
    position: absolute;
    left: 0;
    margin: 1%;
    bottom: 5rem;
    background-color: blue;
    color: #fff;
    font-weight: 800;
    font-size: 1.2rem;
    width: 98%;
    height: 5rem;
}

